#Configurações do Banco de Dados
SUPABASE_URL = 
SUPABASE_KEY = 

#Configurações do JWT
JWT_SECRET = 

#Configurações do admin padrão:
ADMIN_EMAIL = 
ADMIN_PASSWORD = 

#Configurações de Usuário de teste
TEST_USER_EMAIL = 
TEST_USER_PASSWORD =

#Configuração de Admin de teste
TEST_ADMIN_EMAIL = 
TEST_ADMIN_PASSWORD = 

#Variável de ambiente para alterar o comportamento do sistema em ambiente de teste, como por exemplo, não criar um admin padrão ao iniciar o sistema.
#Valores possíveis: TRUE ou FALSE.
TEST_ENV = 

#Configurações do servidor
PORT = 
